{% extends 'base.html' %}

{% block head %}
<title>Note edit</title>
{% endblock %}

{% block body %}
<div class="form_note_edit">
    <h1 style="text-align: center">{{note_name}} edit</h1>

    <div class="form_note_edit">
        <form action="/update/{{note_name}}" method="POST">
            <textarea class="inputs" name="content" id="content" rows="30">{{note}}</textarea>
            <!-- <input type="text" name="content" id="content" value="{{note}}">-->
            <br>
            <input type="submit" class="button" value="Update">
            <input type="submit" name="close" class="button" value="Back">
        </form>
    </div>
    <div class="danger">
        <p><strong>Danger!</strong> Happy editing:)...</p>
    </div>
</div>
{% endblock %}